html, body{
    margin: 0;
    font-family: Helvetica Neue;
}

body{
    padding: 25px;
    width: 470px;
}

#container{
    box-shadow: 0px 5px 10px black;
    width: 470px;
}

h1{
    background: #c00;
    padding: 5px 5px 2px 5px;
    text-align: center;
    color: white;
    margin-bottom: 0;
    font-family: Trajan Pro;
    border: 1px solid black;
    border-bottom: none;
}

table, tr, td{
    border: 1px solid black;
    margin: 0;
    padding: 3px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}

table{
    width: 100%;
    background: white;
}

tbody{
    width: 468px;
    display: block;
    border: none;
}

td{
    width: 18%;
}

td.time{
    width: 10%;
    background: silver;
    font-weight: bold;
}

td.day{
    background: silver;
    font-weight: bold;
}